<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guess</title>
</head>
<body>
    <div>
        <p> <%= message %> </p>
        <p>Your number: <%=y %></p>
        <p> My number: <%= x %></p>
        </div>
        <div>
            <form action='/reset'method="post">
                <div  >
                    <label for="reset">Try Again!</label>
                    <input type="submit" name="session" placeholder="reset">
                </div>
            </form>
        </div>


</body>
</html>